.custom-card{
    background:#ffffff;
    border-radius: 10px;
    padding: 15px;
}
.custom-card h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.custom-card{
    transition:transform 0.4s ease-in-out;
    }
.custom-card:hover {
      transform: translateY(-10px);
    }