#navbar{
    position: absolute;
    z-index: 1;
    width:100%;
}
#navbar img{
    width: 100px;
}

ul li a{
    color: black;
    text-decoration: none;
}

.login-button{
    background-color: rgb(253, 7, 68);
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px  9px 10px !important;
    margin-top: 3px;
}
.login-button:hover{
    color: rgb(0, 0, 0);
}