/* Footer section style start */
.footer-section{
    min-height: 300px;
    background: linear-gradient( #009688, #009688);   
}

.footer-section a{
    text-decoration: none !important;
    font-size: 17px;
    font-weight: 500;
}


/* Footer section style end */