.search{
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 5px;
    
}
.booking-card{
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 5px;
}
.login-section{
    padding: 100px 0 !important;
}