.login{
    width: 500px;
    box-shadow: 0 1rem 3rem rgb(29 41 63 / 18%);
    border-radius: 5px;
}

.google-login-button{
    background-color: #ff1744 !important;
}
.google-login-button:hover{
    background-color: #db002c !important;
}
.fb-login-button{
    background-color: #304ffe !important;
}
.fb-login-button:hover{
    background-color: #0021df !important;
}
.or{
    font-weight: 500;
    font-size: 16px;
}